/* ==== RESET ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block; }
body {
	line-height: 1; }
ol, ul {
	list-style: none; }
blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; }
table {
	border-collapse: collapse;
	border-spacing: 0; }
/* =============== */

@media (prefers-color-scheme: light) {
    :root {
--bg:#EEE;
--bg-sel:#428BFF;
--fg:#444;
--fg-sel:#FFF;
--hr:#777;
--link:#3783DD;
--link-h:#3DB8FF; } }

@media (prefers-color-scheme: dark) {
    :root {
--bg:#181A1B;
--bg-sel:#4E70A7;
--fg:#6E6E6E;
--fg-sel:#000;
--hr:#636363;
--link:#455B89;
--link-h:#496DB6; } }

*,::before,::after {
box-sizing:border-box; }

html {
    margin: 0.5rem; }

body {
color: var(--fg);
background-color: var(--bg);
font-family: monospace, monospace;
font-size: 0.8125em;
font-style: normal;
font-weight: normal;
line-height: 1.1em; }

h1 {
    font-weight: bold;
    font-size: 0.9375rem;
	vertical-align: middle;
    margin: 0.1rem 0; }

.desc {
	color: var(--fg); }

a {
    color: var(--link);
    text-decoration: none; }

a:hover {
    color: var(--link-h);
    cursor: pointer; }

::selection {
    color: var(--fg-sel);
    background: var(--bg-sel); }

b {
    font-weight: bold; }

hr {
    background-color: var(--hr);
	border: none;
    margin: 0.4rem 0.5rem 0.5rem 0.5rem;
	height: 1px;
    width: 100%; }

table {
    border-collapse: collapse;
    overflow: hidden; }

table tbody td {
    padding: 0.1rem 0.5rem; }

#index,#log,#branches,#tags {
    margin-left: 0.5rem; }

#index tr td:nth-child(2),
#log tr td:nth-child(2),
#tags tr td:nth-child(3),
#branches tr td:nth-child(3) {
	white-space: normal; }

#index thead tr td {
    padding: 0 1rem 0.3rem 0; }
#index tbody tr td {
    padding: 0 1rem 0.2rem 0; }
#log thead tr td {
    padding: 0 0.5rem 0.4rem 0; }
#log tbody tr td {
    padding: 0 0.5rem 0.2rem 0; }
#files thead tr td {
    padding: 0 0.5rem 0.2rem 0.5rem; }
#tags thead tr td {
    padding: 0 4rem 0.4rem 0; }
#tags tbody tr td {
    padding: 0 2rem 0.2rem 0; }
#branches thead tr td {
    padding: 0 2rem 0.4rem 0; }
#branches tbody tr td {
    padding: 0 2rem 0.2rem 0; }
#branches thead tr td:nth-child(2) {
    padding-right: 4rem; }

div#content {
	vertical-align: top;
	white-space: nowrap; }

div#content p {
    margin: 0.5rem 0.5rem 0.4rem 0.5rem; }

div#content:nth-child(1) {
    margin-left: 1rem; }
 
td.num {
	text-align: right; }

tr.url td {
    padding: 0.1rem 0.5rem 0.2rem 0.5rem; }

pre {
    margin-bottom: 1rem;
    overflow-x: auto;
    width: 100%; }

pre a.line {
    padding-right: 0.3rem; }

span.insertion {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }

span.deletion {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
